<img src="../../../assets/images/bg-main.jpg" class="main-top-bg"  alt="">

<div class="container-fluid main" id="main">
  <div class="row" > 
      <div class="col-md-6 col-md-offset-6  col-sm-6  col-sm-offset-6">
          <h1>ПРО НАС</h1>
          <p>
              Nutty Nut - це молодий бренд арахісової пасти. Ми цінуємо якість та смак понад усе. А наша місія - дарувати нашим клієнтам радість та здоров'я.
          </p>
          <button (click)='redirectToAboutUs()' class="btn btn-default btn-lg" >Читати далі</button>
      </div>
  </div>
</div>

<section class="container-fluid section">
  <h2 class="text-center">Найчастіше замовляють</h2>
  <div class="row row-most-bought">
       <div class="col-md-3 col-sm-6 col-xs-6  bought">
           <img src="../../../assets/images/Классическая-500.png" alt="..." >
           <p class="text-center bought__description" >Арахісова паста Класична  500г</p>
           <p class="text-center bought__price" >₴90</p>
           <a class="btn btn-default btn-lg">У кошик</a>
       </div>
      <div class="col-md-3 col-sm-6 col-xs-6 bought">
          <img src="../../../assets/images/Соленая-250.png" alt="...">
          <p class="text-center bought__description">Арахісова паста Солона 250г</p>
          <p class="text-center bought__price">₴60</p>
          <a class="btn btn-default btn-lg">У кошик</a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 bought">
          <img src="../../../assets/images/Кранч-250.png" alt="...">
          <p class="text-center bought__description">Арахісова паста З кранчами 250г</p>
          <p class="text-center bought__price">₴60</p>
          <a class="btn btn-default btn-lg">У кошик</a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 bought">
          <img src="../../../assets/images/Классическая-500.png" alt="...">
          <p class="text-center bought__description">Арахісова паста Класична  500г</p>
          <p class="text-center bought__price">₴90</p>
          <a class="btn btn-default btn-lg">У кошик</a>
      </div>
   </div>
  </section>

  <div class="container-fluid" style="background-color:#090808;">  <!-- delete inline styles -->
    <nut-footer id="footer1"></nut-footer>
  </div>
 