<div class="container same-container about-us">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 same-bought">
            <img src="../../../assets/images/about_us/untitled-5.png" alt="...">
        </div>
    </div>

    <p class="text-center">Піклуєшся про навколишне середовище та любиш солодке?</p>
    <p class="text-center">Ми теж.</p>

    <div class="line"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3  same-bought">
            <img src="../../../assets/images/about_us/untitled-4.png" alt="...">
        </div>
    </div>
    <p class="text-center">Чому обрати саме нас? Наш арахіс свіжий, ми смажимо його власноруч.</p>
    <p class="text-center">Ми додаємо лише природні інгредієнти та прянощі. В нашій пасті немає нічого зайвого. Ані небезпечних трансжирів, ані
        консервантів, ані підсилювачів смаку. Все виключно натуральне та якісне.</p>

    <div class="line"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3  same-bought">
            <img src="../../../assets/images/about_us/untitled-6.png" alt="...">
        </div>
    </div>
    <p class="text-center">Ми використовуємо скляну банку щоб зробити наш продукт екологічнішим та більш "френдлі" до нашої планети.</p>
    <p class="text-center">Этикетка друкується на крафт-папері екологічними фарбами. Також ми використовуємо органічний клей.</p>

    <div class="line"></div>

    <p class="text-center">Якщо все ще сумніваєшся - запитуй у нас :)</p>
</div>

<nut-footer></nut-footer>