
<div class="basketWindow" (click)="closedBasket($event)">
    <div class="basketWindow-fix">
        <div class="basketWindow__header">
            <i class="glyphicon glyphicon-chevron-right close-basket" (click)="closeBasket()"></i>
            <span>Кошик</span>
        </div>
        <div class="basketWindow__main">
            <table class="basketWindow__productsWrap">
                <tr class="basketWindow__productsWrap_item" *ngFor="let order of orders">
                    <td class="basketWindow__productsWrap_item-image">
                        <a (click)='goToItemProduct(order)' style="cursor:pointer" > <img src="http://localhost:3000/{{order.product.productImage}}" alt="Alternate Text" /></a>
                    </td>
                    <td class="basketWindow__productsWrap_item-describe">
                        <p class="basketWindow__productsWrap_item-describe-name">{{order.product.name}}</p>
                        <p class="basketWindow__productsWrap_item-describe-quantity">КОЛИЧЕСТВО: {{order.quantity}}</p>
                        <p class="basketWindow__productsWrap_item-describe-price">₴ {{order.product.price * order.quantity }}</p>
                    </td>
                    <td class="basketWindow__productsWrap_item-remove">
                        <i class="glyphicon glyphicon-remove" (click)="deleteItemOrder(order)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div class="basketWindow__footer">
            <div class="basketWindow__footer-summary">
                <p>Сумма </p>
                <p>₴{{sumPrice}}</p>
            </div>
            <div class="basketWindow__footer-anchor">
                <button (click)="redirectToBasketPage()" class="btn btn-default btn-lg">Перейти до кошику</button>
            </div>
        </div>

    </div>
</div>