<header class='header'>

    <h2 (click)='redirectToMainPage()' class="header__logo">~ NUTTY NUT ~</h2>

    <nav class="header__navigation">
        <li>
            <a href="#main" pageScroll [routerLink]="['/main']">Про нас</a>
        </li>
        <li>
            <a routerLink="store">Магазин</a>
        </li>
        <li>
            <a href="#footer" pageScroll [routerLink]="['/main']">Контакты</a>
        </li>
    </nav>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="215.5 322.7 164.9 196.4" preserveAspectRatio="xMinYMax meet"
        ng-switch-when="9" (click)="openBasket()">
        <path d="M362.5 519.2H232.8c-1.8 0-3-1.2-3-2.4L215.5 388.8c0-0.6 0-1.8 0.6-2.4 0.6-0.6 1.2-1.2 2.4-1.2h158.9c0.6 0 1.8 0.6 2.4 1.2 0.6 0.6 0.6 1.2 0.6 2.4l-14.9 127.4C365.5 518 364.3 519.2 362.5 519.2zM235.1 513.2h125l13.7-122H221.4L235.1 513.2z"></path>
        <path d="M334.5 388.8h-6v-27.4c0-17.9-13.7-32.7-31-32.7s-31 14.9-31 32.7V388.8h-6v-27.4c0-21.4 16.7-38.7 36.9-38.7s36.9 17.3 36.9 38.7V388.8z"></path>
        <text x="298" y="455" dy=".35em" text-anchor="middle" class="quantity quantity-without-background" data-hook="cart-widget-items-count">
            {{quantityOrders}}
        </text>
    </svg>
    <!-- 
  <button class="butt">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button> -->

</header>