:host {
    display: block;
    background-image: url('../../../assets/images/bg-store.jpg');
    padding-top: 20vh;
}

.basketWrap {
    font-family:'Open Sans Condensed','sans-serif';
    color:#E8E6E6;
    width:75%;
    background-color: rgba(0, 0, 0,0.5)
}

.basket {
    &__caption {
        color:#E8E6E6;
        font-size:20px;
    }
}

.product {
    &__image {
        border:1px solid #fff;
        width:80%;  
        height:18vw; 
    }
    &__info {
        &-name {
            color:#E8E6E6;
            font-size: 20px;
            font-weight: 400;
        }
        &-article, &-price {
            font-size: 14px;
            color: #E8E6E6;
        }
    }
    &__quantityWrap {
        height:35px;
        width:100px;
        display: flex;

        a {
            color: #fff;
            font-size: 19px;
            text-decoration: none;
        }
        input {
            width: 35px;
            height: 35px;
        }
    }
}

.additionalInfo {
    height:170px;

    &__icon {
        cursor: pointer;
        i {
            width: 14px;
            height: 14px;
            color: #E8E6E6;
        }
    }
    &__form-comment {
        display: none;
        form {
            text-align: right;

            textarea {
                width: 100%;
                height: 100px;
                resize: none;
                border: none;
            }

            button {
                width:25%;
                background:transparent;
                padding:2% 4%;
                color: #E8E6E6;
                font-family:'Open Sans Condensed','sans-serif';
                border:none;

                &.done {
                    background-color:rgba(202, 229, 175, 0.5);
                }
            }
        }
    }

    &__sum {
        &-totalPrice {
            font-size:20px;
        }
        &_userInfo {
            font-style:italic;
        }
    }
}

.link {
    background-color: rgba(202, 229, 175, 0.5);
    border: none;
    color: rgba(255, 255, 255,0.8);
    padding: 1% 4%;
    border-radius:15px;
    text-align:center;
}