<div class="container basketWrap table-responsive">

	<table class="table basket">
		<caption class="basket__caption">Кошик ({{quantityOrders}})</caption>
		<tr class="basket__header">
			<td>ТОВАР</td>
			<td>НАИМЕНОВАНИЕ</td>
			<td>КОЛИЧЕСТВО</td>
			<td class="text-right">ИТОГО</td>
		</tr>
		<tr *ngFor="let order of orders" class="product">
			<td class="product__imageWrap">
				<a (click)='goToItemProduct(order)' style="cursor:pointer">
					<img class="product__image" src="{{order.productImage}}" alt="Alternate Text" />
				</a>
			</td>
			<td class="product__descriptionWrap">
				<p class="product__info-name">{{order.name}}</p>
				<p class="product__info-artical">Артикул: 0001 (fix it)</p>
				<p class="product__info-price">Цена: {{order.price}}</p>
			</td>
			<td class="product__quantityWrapper">
				<div class="product__quantityWrap">
					<a class="glyphicon glyphicon-minus minus" (click)="changeQuantityItem(order,'minus')"></a>
					<input type="number" min="1" max="99" name="name" class="product-quantity-input" value="{{order.quantity}}" #quantity (change)="changeQuantityItem(order,quantity.value)" />
					<a  class="glyphicon glyphicon-plus plus" (click)="changeQuantityItem(order,'plus')"></a>
				</div>
			</td>
			<td class="text-right">
				<p>₴<span>{{order.quantity * order.price}}</span>
				</p>
			</td>
		</tr>
		<tr class="additionalInfo">
			<td colspan="2">
				<div class="additionalInfo__icon">
					<i class="glyphicon glyphicon-envelope"></i> 
					Додати коментар
				</div>
				<div class="additionalInfo__form-comment">
					<form>
						<textarea maxlength="250" placeholder="Маєте особливі побажання? Пишіть тут:)"></textarea>
						<button>Отменить</button>
						<button class="done">Готово</button>
					</form>
				</div>
			</td>
			<td colspan="2" class="additionalInfo__sum text-right">
				<p class="dditionalInfo__sum-totalPrice">Сумма: {{sumPrice}}</p>
				<p class="dditionalInfo__sum-userInfo">Знижки, податки та вартість доставки будуть розраховані при оформленні замовлення.</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" class="text-right">
					<a class="link btn btn-default btn-lg">Оформити замовлення</a>
			</td>
		</tr>
	</table>

</div>


<nut-footer></nut-footer>